<div *ngFor="let libro of misLibros" class="libro-card">
  <!-- Imagen -->
  <img
    *ngIf="libro?.portada"
    [src]="libro.portada"
    alt="{{ libro?.titulo }}"
    class="portada"
  />

  <!-- Información del libro -->
  <div class="info-libro">
    <h3>{{ libro?.titulo }}</h3>
    <p><strong>ISBN:</strong> {{ libro?.isbn }}</p>
    <p><strong>Resumen:</strong> {{ libro?.resumen }}</p>
    <p><strong>ID API:</strong> {{ libro?.idApi }}</p>
    <p>
      <strong>Se Puede Compartir:</strong>
      {{ libro?.sePuedeCompartir ? "Sí" : "No" }}
    </p>
    <p><strong>Autor:</strong> {{ libro?.nombreAutor }}</p>

    <!-- Botones -->
    <div class="acciones">
      <button class="btn-actualizar" (click)="editarLibro(libro)">
        Actualizar
      </button>
      <button class="btn-eliminar" (click)="eliminarLibro(libro)">
        Eliminar
      </button>
    </div>

    <!-- Formulario de edición -->
    <div *ngIf="libroEnEdicion?.id === libro.id" class="edicion-form">
      <h3>Editando: {{ libroEnEdicion?.titulo }}</h3>
      <form (ngSubmit)="guardarCambios()">
        <label>
          Título:
          <input
            [(ngModel)]="libroEnEdicion!.titulo"
            name="titulo"
            required
          />
        </label>
        <label>
          ISBN:
          <input [(ngModel)]="libroEnEdicion!.isbn" name="isbn" required />
        </label>
        <label>
          Portada:
          <input [(ngModel)]="libroEnEdicion!.portada" name="portada" />
        </label>
        <label>
          Resumen:
          <textarea
            [(ngModel)]="libroEnEdicion!.resumen"
            name="resumen"
          ></textarea>
        </label>
        <label>
          Autor:
          <input
            [(ngModel)]="libroEnEdicion!.nombreAutor"
            name="nombreAutor"
          />
        </label>

        <button type="submit" class="btn-guardar">Guardar</button>
        <button
          type="button"
          (click)="cancelarEdicion()"
          class="btn-cancelar"
        >
          Cancelar
        </button>
      </form>
    </div>
  </div>
</div>
